{%extends 'home.html'%}
{%load static%}
{%block content%}
<!-- custom style -->
<link rel="stylesheet" type="text/css" href="{% static 'all_course.css' %}">

<section class="course-list">
    <h1 class="heading">Course List</h1>
    <div class="grid-container">


    </div>
</section>

<script>

    window.onload = async function () {
        try {
            // Fetch course data from the server
            const response = await fetch('/courses');

            // Check if the response is successful
            if (!response.ok) {
                throw new Error('Failed to fetch courses');
            }

            // Parse the JSON data from the response
            var courses = await response.json();
            courses = courses.courses
            // Get the container where the courses will be displayed
            const gridContainer = document.querySelector('.grid-container');

            // Loop through the courses and create the course cards dynamically
            courses.forEach(course => {
                const courseCard = document.createElement('div');
                courseCard.classList.add('course-card');

                // Create the HTML structure for each course card
                courseCard.innerHTML = `
               <img src="${('/media/' + course.thumbnail)}" alt="${course.title}">
               <h3>${course.title}</h3>
               <p>created by ${course.created_by__username}</p>
               <a href="/courses/detail?id=${course.id}" class="btn">Learn More</a>
           `;

                // Append the new card to the grid container
                gridContainer.appendChild(courseCard);
            });

        } catch (error) {
            console.error('Error loading courses:', error);
        }
    };

</script>
{%endblock%}