{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- custom style -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
    <header>
        <div id="menu" class="fas fa-bars"></div>
        <a href="#" class="logo"><i class='fas fa-user-graduate'></i>EdTech</a>

        <nav class="navbar">
            <ul>
                <li><a class='active' href='/'>Home</a></li>
                <li><a href='#about'>About</a></li>

                <li><a href='#course'>Course</a></li>

                <li><a href='#teacher'>Teacher</a></li>

                <li><a href='/dashboard'>Dashboard</a></li>

            </ul>
        </nav>
        <div id="login" class="fas fa-user circle">

        </div>
    </header>
    {%block content%}
    <!--home section starts-->
    <section class="home" id="home">
        <!--img src="images/home.png"-->
        <!--img src="images/home.png" alt=""-->
        <h1>Learn, Grow, and Succeed<br> All in One Platform</h1>
        <p>
            Empowering learners, educators, and dreamer with innovative tools and personalized learning experiences. Our
            platform bridges the gap between knowledge and application, making education accessible, engaging, and
            effective for everyone. Start your journey today and unlock the potential to achieve more</p>
        <a href="#"><button class='customBtn'>Get started</button></a>

    </section>
    <!--About section-->
    <section class="about" id="about">
        <div class="image">
            <img src="media/images/about.jpeg" alt="" style="object-fit: cover;">
        </div>
        <div class="content">
            <h3>Why Choose Us?</h3>
            <p>We provide innovative, expert-designed learning solutions customized to your needs. With flexible,
                affordable access to high-quality content and dedicated support, we empower learners to achieve their
                goals anytime, anywhere. Join a global community thats transforming education and unlocking potential.
            </p>
            <a href="#"><button class="customBtn">Learn more</button></a>
        </div>
    </section>
    <!--teacher section-->
    <div class="teacher py-5" id="teacher" style="background-color: #f5f5f5;">
        <h1 class="heading">Our expert teachers</h1>
        <p>Gain knowledge from experienced professionals who are masters in their fields. Each
            instructor brings
            real-world expertise, blending practical skills with in-depth theoretical concepts. Whether its Data
            Science, Artificial Intelligence, or Back-End Development, youll learn directly from industry leaders to
            accelerate your journey to success</p>
    </div>
    <!--featured course section-->
    <section class="course" id="course">
        <h1 class="heading">Featured Courses</h1>
        <div class="box-container ">
            <!-- Course 1 -->
            <div class="box bg-body">
                <img src="https://placehold.co/600x400/png">
                <div class="content">
                    <a href="#" class="title">Learn Front end development</a>
                    <p>Learn to build responsive interactive, and user-friendly websites using HTML, CSS, and
                        JavaScript. This course equips you with essential skills and hands-on experience to create
                        stunning web designs and dynamic user interfaces. Perfect for beginners and aspiring developers!
                    </p>
                    <div class="info">
                        <h4><i class='far fa-clock'></i> 2 hours</h4>
                        <a href="/course/1" class="customBtn text-decoration-none">View Course</a>
                    </div>

                </div>
            </div>
            <!-- Course 2 -->
            <div class="box">
                <img src="https://placehold.co/600x400/png">
                <div class="content">
                    <a href="#" class="title">Learn Front end development</a>
                    <p>Learn to build responsive interactive, and user-friendly websites using HTML, CSS, and
                        JavaScript. This course equips you with essential skills and hands-on experience to create
                        stunning web designs and dynamic user interfaces. Perfect for beginners and aspiring developers!
                    </p>
                    <div class="info">
                        <h4><i class='far fa-clock'></i> 2 hours</h4>
                        <button class="customBtn">View Course</button>
                    </div>

                </div>
            </div>
            <!-- Course 3 -->
            <div class="box">
                <img src="https://placehold.co/600x400/png">
                <div class="content">
                    <a href="#" class="title">Learn Front end development</a>
                    <p>Learn to build responsive interactive, and user-friendly websites using HTML, CSS, and
                        JavaScript. This course equips you with essential skills and hands-on experience to create
                        stunning web designs and dynamic user interfaces. Perfect for beginners and aspiring developers!
                    </p>
                    <div class="info">
                        <h4><i class='far fa-clock'></i> 2 hours</h4>
                        <button class="customBtn">View Course</button>
                    </div>

                </div>
            </div>
            <!-- Course 4 -->
            <div class="box">
                <img src="https://placehold.co/600x400/png">
                <div class="content">
                    <a href="#" class="title">Learn Front end development</a>
                    <p>Learn to build responsive interactive, and user-friendly websites using HTML, CSS, and
                        JavaScript. This course equips you with essential skills and hands-on experience to create
                        stunning web designs and dynamic user interfaces. Perfect for beginners and aspiring developers!
                    </p>
                    <div class="info">
                        <h4><i class='far fa-clock'></i> 2 hours</h4>
                        <button class="customBtn">View Course</button>
                    </div>

                </div>
            </div>
        </div>
    </section>



    {%endblock content%}
    <!--footer-->
    <div class="footer">
        <div class='box-container'>
            <div class="box">
                <h3>Quick links</h3>
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">course</a>
                <a href="#">teacher</a>
                <a href="#">contact</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <p><i class='fas fa-envelope'></i>suriasultana@gmail.com</p>
                <p><i class="fas fa-phone"></i>++8801840258995</p>
            </div>

        </div>
        <div class='button-bar'>
            <p>&copy;2025</p>
        </div>

    </div>
    <!--footer end-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src="static/home.js"></script>


</body>

</html>