{%extends 'admin_dashboard.html'%}
{%load static%}
{%block content%}
<div class="d-flex w-100 h-100">
    <!-- Sidebar -->
    <div class="nav flex-column nav-pills bg-dark bg-gradient p-3" id="v-pills-tab" role="tablist">
        <a class="link-light link-opacity-50-hover mx-5 my-3 p-2 text-center" href="/">
            <h4> EdTech</h4>
        </a>
        <a class="nav-link link-light link-opacity-50-hover active" id="v-pills-dashboard-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard"
            aria-selected="true">Dashboard</a>

        <a class="nav-link link-light link-opacity-50-hover" id="v-pills-courses-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-courses" type="button" role="tab" aria-controls="v-pills-courses"
            aria-selected="false">Courses</a>


        <a class="text-center nav-link link-danger" href="#">Logout</a>

    </div>

    <!-- Tab Content tab -->
    <div class="tab-content w-100 p-4 " id="v-pills-tabContent">
        <!-- status messeges -->
        <div>
            {%if courses%}
            {%for msg in courses%}

            <div class="row-md-4 alert 
                {%if msg.tags == 'error'%} alert-danger {%else%} alert-success {%endif%}
                alert-dismissible fade show " role="alert" id="alertBox">
                {{msg}}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <!-- Dashboard tab -->
        <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"
            aria-labelledby="v-pills-dashboard-tab">
            <h4 class="text-uppercase">{{user_type}} Dashboard</h4>
            <div class="row">
                <!-- Course card -->
                <div class="col-md-4">
                    <div class="flex-row card text-white align-items-center bg-primary bg-gradient mb-3">
                        <div class="col-md-8 card-body">
                            <h5 class="card-text">Total Courses</h5>
                            <h2 class="card-title">0</h2>
                        </div>
                        <!-- {{MEDIA_URL}} on prod -->
                        <img class="mx-3 opacity-75" width="50" height="50" src="/media/icon/course.png">
                    </div>
                </div>

                <!-- Enrollment card -->
                <div class="col-md-4">
                    <div class="flex-row card text-white align-items-center bg-primary bg-gradient mb-3">
                        <div class="col-md-8 card-body">
                            <h5 class="card-text">Total Enrollments</h5>
                            <h2 class="card-title">0</h2>
                        </div>
                        <!-- {{MEDIA_URL}} on prod -->
                        <img class="mx-3 opacity-75" width="50" height="50" src="/media/icon/enroll.png">
                    </div>
                </div>

            </div>
            <!-- activity -->
            <div class="row px-3">
                <h4>Recent Activity</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th>User</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody id="activity-list">
                        <!-- fetch from API -->
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Courses tab -->
        <div class="tab-pane fade" id="v-pills-courses" role="tabpanel" aria-labelledby="v-pills-courses-tab">
            <h4>Courses</h4>
            <!-- delete option -->
            <div class="row align-items-center p-2">
                <label class="col-1 form-label " for="id">Select Course</label>
                <div class="col-5">
                    <select id="course-select" name="course-select" class="form-select">
                    </select>
                </div>
                <!-- Unenroll -->
                <button class="col-1 btn btn-danger" id="delete-course-btn">Unenroll</button>
                <!-- Completed -->
                <button class="col-1 btn btn-success mx-2" id="edit-course-btn">Completed</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Instructor</th>
                        <th>Enrollments</th>
                    </tr>
                </thead>
                <tbody id="courses-list">

                    <!-- fetch from API -->
                </tbody>
            </table>
        </div>

    </div>
</div>




<script src="{% static 'admin_dashboard.js' %}"></script>
{%endblock%}