{%extends 'admin_dashboard.html'%}
{%load static%}
{%block content%}
<div class="d-flex w-100 h-100">
    <!-- Sidebar -->
    <div class="nav flex-column nav-pills bg-dark bg-gradient p-3 h-100" id="v-pills-tab" role="tablist">
        <a class="link-light link-opacity-50-hover mx-5 my-3 p-2 text-center" href="/">
            <h4> EdTech</h4>
        </a>
        <a class="nav-link link-light link-opacity-50-hover active" id="v-pills-dashboard-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard"
            aria-selected="true">Dashboard</a>


        <a class="nav-link link-light link-opacity-50-hover" id="v-pills-courses-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-courses" type="button" role="tab" aria-controls="v-pills-courses"
            onclick="getStudentCourses()" aria-selected="false">Courses</a>



        <a class="text-center nav-link link-danger" href="{%url 'logout'%}">Logout</a>

    </div>

    <!-- Tab Content tab -->
    <div class="tab-content w-100 p-4 bg-light" id="v-pills-tabContent"
        style="overflow-y: auto; max-height: calc(100vh - 2rem);">
        <!-- status messeges -->
        <div>
            {%if messages%}
            {%for msg in messages%}

            <div class="row-md-4 alert 
                {%if msg.tags == 'error'%} alert-danger {%else%} alert-success {%endif%}
                alert-dismissible fade show " role="alert" id="alertBox">
                {{msg}}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <!-- Dashboard tab -->
        <div class="tab-pane fade show active container" id="v-pills-dashboard" role="tabpanel"
            aria-labelledby="v-pills-dashboard-tab">
            <h4 class="text-uppercase">{{user_type}} Dashboard</h4>
            <!-- cards -->
            <div class="row">
                <!-- Course card -->
                <div class="col-md-4">
                    <div class="flex-row card text-white align-items-center bg-primary bg-gradient mb-3">
                        <div class="col-md-8 card-body">
                            <h5 class="card-text">Total Courses</h5>
                            <h2 class="card-title">{{courses}}</h2>
                        </div>
                        <!-- {{MEDIA_URL}} on prod -->
                        <img class="mx-3 opacity-75" width="50" height="50" src="/media/icon/course.png">
                    </div>
                </div>
                <!-- Enrollment card -->
                <div class="col-md-4">
                    <div class="flex-row card text-white align-items-center bg-primary bg-gradient mb-3">
                        <div class="col-md-8 card-body">
                            <h5 class="card-text">Total Enrollments</h5>
                            <h2 class="card-title">{{enrollments}}</h2>
                        </div>
                        <!-- {{MEDIA_URL}} on prod -->
                        <img class="mx-3 opacity-75" width="50" height="50" src="/media/icon/enroll.png">
                    </div>
                </div>
            </div>
            <!-- activity -->
            <div class="row px-3">
                <h4>Recent Activity</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Detail</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody id="activity-list">
                        {%for item in activities %}
                        <tr>
                            <td>{{item.username}}</td>
                            <td>{{item.action}}</td>
                            <td>{{item.details}}</td>
                            <td>{{item.timestamp}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Courses tab -->
        <div class="tab-pane fade" id="v-pills-courses" role="tabpanel" aria-labelledby="v-pills-courses-tab">
            <h4>Courses</h4>
            <!-- delete option -->
            <div class="row align-items-center p-2">
                <label class="col-1 form-label " for="id">Select Course</label>
                <div class="col-5">
                    <select id="course-select" name="course-select" class="form-select">
                    </select>
                </div>
                <div class="col">
                    <!-- Delete -->
                    <button class="btn btn-danger" id="delete-course-btn">Delete</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Instructor</th>

                    </tr>
                </thead>
                <tbody id="courses-list">

                    <!-- fetch from API -->
                </tbody>
            </table>
        </div>

    </div>


</div>
</div>



<script type="text/javascript">
    // Inject Django variables into JavaScript as global variables
    window.djangoVars = {
        userId: "{{ request.user.id }}",  // This will be replaced by the actual user ID in the HTML
        csrfToken: "{{ csrf_token }}"     // Optional: CSRF token if needed for POST requests
    };
</script>
<script src="{% static 'admin_dashboard.js' %}"></script>
{%endblock%}